html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 14px;
    border-bottom: 2px solid lightgray;
    
}

.header:hover {
    color: gold;
}


/* ------- main stuff */
.main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: rgba(19, 20, 23, 0.7);
    width: max-content;
    max-width: 340px;
    height: max-content;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.screen {
    min-height: 160px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 3px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.screen .equations {
    flex: 0 0 32px;
    padding: 5px;
}

.screen .numbers {
    flex: 1;
    background-color: rgba(19, 20, 23, .3);
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 22px;
    color: white;
    word-break: break-all;
}


.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6px;
}

.calculator button {
    font-size: 22px;
    color: white;
    font-weight: bold;
    width: 70px;
    height: 70px;
    background-color: rgba(19, 20, 23, .6);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 3px;
}

.calculator button:hover {
    color: orange;
    background-color: rgba(19, 20, 23, .5);
}


.footer {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border-top: 2px solid lightgray;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    color: gold;
}
